
.overlay-yh {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 95, 95, 1); 
    z-index: 9999; 
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading-grid {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 240px);
  }
  
  .loading-grid > div:hover {
    transition: transform 0.2s ease;
    border: 1px solid #eee;
    transform: scale(1.1);
    cursor: pointer;
  }
  .four-balls {
    height: 100px;
    width: 100px;
    animation: four-balls-rotate 1s infinite;
    position: relative;
  }
  
  .four-balls:before,
  .four-balls:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
  }
  .four-balls:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .four-balls:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes four-balls-rotate {
    0% {
      transform: rotate(0deg) scale(0.8);
    }
    50% {
      transform: rotate(360deg) scale(1.2);
    }
    100% {
      transform: rotate(720deg) scale(0.8);
    }
  }
  .four-balls-text {
    color: #fff; 
    font-size: 28px; 
    margin-top: 10px; 
    text-align: center; 
  }
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      transform: translate(30px, 30px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 20px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -40px;
      transform: translate(30px, 30px);
    }
    100% {
      box-shadow: 60px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
  
  @keyframes small-box-ani {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(0.75);
    }
  }
  
  @keyframes cube-box-ani {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
  
